form{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
}

label{
    margin: .5rem ;
    opacity: .5;
    cursor: pointer;
}
select{
    width: 50%;
    margin-bottom: 2rem;
    padding: .1rem;
    background-color: #252525;
    outline: none;
    color: #fff;
    border: .01rem solid #fff;
    border-radius: .2rem;
    opacity: .5;
}
select:focus{
    opacity: .3;
    outline: .2rem solid #6c79db;
}
