*
{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    box-sizing: border-box;
}

body{
    background-color: #141313;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #1f1f1f;
    border-bottom: .01rem solid  #282727;
    box-shadow: .1rem .1rem .1rem  #0d0d0d;
    margin-bottom: 1rem;
    padding: 1rem;
    z-index: 1;
}
#menu{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.home{

    max-width: 5rem;
    opacity: .8;

}
.content{
    margin-top: 10rem;
    padding: 1rem 1rem 0;
    background-color: #252525;
    height: auto;
    width: 100vw;
    border-radius: 1rem;
}
.content h1{
margin: 1rem 0;
color: #fff;
text-transform: uppercase;
text-align: center;

}
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}
.pagination button{
    background-color: #6c79db;
    color: #fff;
    border: none;
    padding: .5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
}
.pagination button:hover{
    background-color: #fff;
    color: #6c79db;
    font-weight: 800;
}
.remove{
    display: none;
    transition: all .5s ease-in-out;
}