.modal {
    display: none; 
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.show-modal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    padding:.5rem;
}
.modal-container {
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    height: 50vh;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}
.close-btn
{
    color: #fff;
    font-size: 1.5rem;
    border: 3px solid #fff;
    padding: .2rem .5rem;
    border-radius: 50%;
    font-weight: 800;
}
.close-btn:hover{
    background-color: #fff;
}

.modal-content {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;
margin-top: 1rem;
color: #fff;
}
.number{
    font-size: 1.2rem;
}
.modal-name{
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
    color: #fff;
}
.pokemon-img{
    width: 80%;
}
.modal-info{
    margin-left: 1rem;
}
.tags
{
    margin-top: 1rem;
    padding: 0;
    margin: 0;
    list-style: none;
}
.modal-tag
{
    font-size: 2rem;
    padding: .2rem .5rem;
    color: #fff;
    padding: .25rem .5rem;
    font-size: 1rem;
    margin: .25rem 0;
    border-radius: 1rem;    
    filter:brightness(1.1);
    text-transform: capitalize;
}