.pokemons{
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;

}
.pokemon{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 2rem 1rem;
    color: #fff;
    border-radius: 1rem;
}

.name, .options{
    text-transform: capitalize;
}
.number{
    color: hsl(0, 0%, 100%);
    text-align: right;
    opacity: .5;
}
.details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.details .types{
    padding: 0;
    margin: 0;
    list-style: none;
}
.details img{
    width: 100%;
    height: 72px;
}

.types .type{
    color: #fff;
    padding: .25rem .5rem;
    font-size: .5rem;
    margin: .25rem 0;
    border-radius: 1rem;    
    filter:brightness(1.1);
    text-transform: capitalize;
}
.normal{
    background-color: #A8A77A;
}
.fire{
    background-color: #ee8130;
}
.water{
    background-color: #6390F0;
}
.electric
{
    background-color: #F7D02C;
}
.grass{
    background-color: #7AC74C;
}
.ice{
    background-color: #96D9D6;
}
.fighting{
    background-color: #C22E28;
}
.poison{
    background-color: #A33EA1;
}
.ground{
    background-color: #E2BF65;
}
.flying{
    background-color: #A98FF3;
}
.psychic{
    background-color: #F95587;
}
.bug{
    background-color: #A6B91A;
}
.rock{
    background-color: #B6A136;
}
.ghost{
    background-color: #735797;
}
.dragon{
    background-color: #6F35FC;
}
.steel{
    background-color: #B7B7CE;
}
.fairy{
    background-color: #D685AD;
}

.stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.details-btn{
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
}

.details-btn:hover{
    background-color: #fff;
    font-weight: 800;


}
.details-btn.normal:hover{
    color: #A8A77A;
}
.details-btn.fire:hover{
    color: #ee8130;
}
.details-btn.water:hover{
    color: #6390F0;
}
.details-btn.electric:hover{
    color: #F7D02C;
}
.details-btn.grass:hover{
    color: #7AC74C;
}
.details-btn.ice:hover{
    color: #96D9D6;
}
.details-btn.fighting:hover{
    color: #C22E28;
}
.details-btn.poison:hover{
    color: #A33EA1;
}
.details-btn.ground:hover{
    color: #E2BF65;
}
.details-btn.flying:hover{
    color: #A98FF3;
}
.details-btn.psychic:hover{
    color: #F95587;
}
.details-btn.bug:hover{
    color: #A6B91A;
}
.details-btn.rock:hover{
    color: #B6A136;
}
.details-btn.ghost:hover{
    color: #735797;
}
.details-btn.dragon:hover{
    color: #6F35FC;
}
.details-btn.steel:hover{
    color: #B7B7CE;
}
.details-btn.fairy:hover{
    color: #D685AD;
}
